@media screen and (min-width: 948px){
    /*Wrap*/
    .td_gallery_index_01 .main{
        width: 948px;
    }
    
    /* 100 porciento */
    .td_gallery_index_01 .main .c9{
        width:100%;
        clear:both;
        overflow:hidden;
        padding-top: 36px;
    }
    .c9_1{
        padding-top: 36px;
    }
    
    /* Flotan a la izq */
    .td_gallery_index_01 .main .c2,
    .td_gallery_index_01 .main .c4,
    .td_gallery_index_01 .main .c7{
        float:left;
        width: 624px;
        clear:none;
    }
    
    /* Flotan a la der */
    .td_gallery_index_01 .main .c3,
    .td_gallery_index_01 .main .c5,
    .td_gallery_index_01 .main .c8{
        float:right;
        width: 300px;
        clear:none;
    } 
    
    /*bloques*/    
    .td_gallery_index_01 .main .c3_1,
    .td_gallery_index_01 .main .c3_2,
    .td_gallery_index_01 .main .c3_3,
    .td_gallery_index_01 .main .c5_1,
    .td_gallery_index_01 .main .c5_2,
    .td_gallery_index_01 .main .c8_1,
    .td_gallery_index_01 .main .c8_2,
    .td_gallery_index_01 .main .c8_3{
        float: none;
        clear:both;
        overflow:hidden;
    }
    
    .td_gallery_index_01 .main .c7{
        clear: both;
        overflow: hidden;
    }
    
    .td_gallery_index_01 .main .c3 .c3_3{
        display: none;
    }
    
    .td_gallery_index_01 .main .art_branch_01 {
        margin-bottom:24px;
    }
    .td_gallery_index_01 .main .btn_6prog_02{
        border-bottom:none;
        margin-bottom:36px;
    }

}